* {
  background-color: black;
}

#clock {
  margin-top: 20vh;
  color: aquamarine;
  font-size: 20vh;
  font-weight: bolder;
  text-align: center;
}
#date {
  color: aquamarine;
  font-size: 20vh;
  font-weight: bolder;
  text-align: center;
}
